/* Danger admonition coloring */

.danger-admonition {
  border: 1px solid rgba(239, 68, 68, 0.2);
  background-color: rgba(254, 242, 242, 0.5);
}

.dark\:danger-admonition:is(.dark *) {
  border-color: rgba(239, 68, 68, 0.3);
  background-color: rgba(239, 68, 68, 0.1);
}

.base_header_img {
  margin: auto;
}

.homepage_wrapper {
  width: 75%;
  max-width: 1376px;
  margin: auto;
  margin-bottom: 50px;
}

.home_header {
  padding-bottom: 0 !important;
}

.home_header h1 {
  margin-bottom: 24px;
}

.home_header div p {
  margin-top: 10px;
}
